#room-host, #room-name {
left: 105px;
}

#room-bar .icon-room {
    top: 7px;
    left: 7px;
}
i.icon.icon-room {
    width: 130px;
    height: 50px;
}

.icon-room {
    background: url(http://i.imgur.com/KkMZsiH.png?1) no-repeat;
    width: 0px;
    height: 0px;
    background-size: 65%;
}

#footer {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
#footer {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
#footer {
    z-index: 90;
    width: 100%;
    background: #282c35;
    -webkit-box-shadow: inset 0 2px 0 -1px #0A0A0A;
    -moz-box-shadow: inset 0 2px 0 -1px #0A0A0A;
    box-shadow: inset 0 2px 0 -1px #0A0A0A;
}
#footer, #playlist-button {
    position: absolute;
    left: 0;
    height: 54px;
}
